{%extends "layout.njk" %}
{% set bodyId = "page-home" %}

{% set closeIcons = "https://fonts.googleapis.com/icon?family=Material+Icons" %}

{% block content %}

<div class="container">

    <header>   
            <div class="links">
            <img src="/assets/logo.svg" alt="logo ecoleta">
            <span>
                <img src="/assets/log-in.svg" alt="">
                <a href="/register"> Cadrastre um ponto de coleta</a>
            </span>
        </div>
    </header>

    <div class="wrapper">
        <h1>Seu marketplace de coleta de resíduos</h1>
        <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.</p>
        
        
        <a><span></span><strong>Pesquisar Pontos de Coleta</strong></a>
    </div>

</div>   

<div class="modal-overlay">
    <div class="modal">

        <a class="close-modal">
            <i class="material-icons">close</i>
        </a>

        <h1>Pontos de Coleta</h1>
    
        <form class="form-modal" action="/list" >
            <input 
                type="text"
                name="search"
                placeholder="Digite a Cidade"
            >

            <button type="submit">Buscar</button>    
        </form>

    </div>
</div>
  <script src="/js/home.js"></script>
{% endblock%}