
<!DOCTYPE html>

<html>
    <head>
        <title>Ecoleta</title>
        <link rel="stylesheet" href="/css/main.css">
        <link href={{closeIcons}} rel="stylesheet"> 
    </head>

    <body>

        <div id={{bodyId}}>
            {% block content %}{% endblock %}
        </div>

    </body>
</html>